.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outerLogo{
  position: absolute;
  width: 1021px;
  height: 1027px;
  left: 213px;
  top: 186px;
}

.logoTop {
  position: absolute;
  width: 1021px;
  height: 1027px;
  left: 213px;
  top: 186px;
}

.gradientBack {
 
  position: absolute;
  width: 1021px;
  height: 1027px;
  left: 213px;
  top: 186px;
  border-radius: 50%;
  background-color: #f60;
  -webkit-filter: blur(100px) saturate(400%);
  -moz-filter: blur(100px) saturate(400%);
  -o-filter: blur(100px) saturate(400%);
  -ms-filter: blur(100px) saturate(400%);
  filter:blur(100px) saturate(400%);
}
