.ryp-banner-div {
  border-radius: 45px;
  overflow: hidden !important;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.25);
}

.ryp-banner-text-div {
  background-color: #fff;
  border-radius: 45px;
  z-index: 1000;
}

.conferences-page-title {
  background: linear-gradient(115deg, #ff2323 15%, #1d18ff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eventBtn {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.eventBtn:hover {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.sub-event-box {
  background-color: #e4e4e4;
  border-radius: 40px;
}

.sub-event-title {
  font-size: 35px;
  font-weight: 700;
}

.sub-event-desc {
  font-size: 14px;
  font-weight: 400;
}

.sub-event-subtitle {
  font-weight: 400;
}

.sub-event-box-ryp {
  background: linear-gradient(-135deg, #fc6898 0%, #f99b92 100%) !important;
  color: #fff !important;
}

.flagship-event-box {
  background: linear-gradient(-135deg, #ff2323 -30%, #1d18ff 130%);
  border-radius: 35px;
  color: white;
}

.flagship-event-title {
  font-weight: 700;
}

.flagship-event-date {
  color: #ffc2d4;
  font-weight: 500;
}

.perk-number h5 {
  padding: 0 22px !important;
}

.perk-title {
  border-right: 1px solid #b4b4b4;
  color: black !important;
}

@media screen and (max-width: 768px) {
  .ryp-banner-text-div h5 {
    font-size: 17px;
  }

  .ryp-banner-text-div a {
    margin-left: 5px !important;
  }

  .sub-event-title {
    font-size: 35px;
  }
}
