.conferences-page-title {
  background: linear-gradient(115deg, #ff2323 15%, #1d18ff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eventBtn {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.eventBtn:hover {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.sub-event-box {
  background-color: #e4e4e4;
  border-radius: 40px;
}

.sub-event-title {
  font-size: 35px;
  font-weight: 700;
}

.sub-event-desc {
  font-size: 14px;
  font-weight: 400;
}

.sub-event-subtitle {
  font-weight: 400;
}

.sub-event-box-ryp {
  background: linear-gradient(-135deg, #fc6898 0%, #f99b92 100%) !important;
  color: #fff !important;
}

.flagship-event-box {
  background: linear-gradient(-135deg, #ff2323 -30%, #1d18ff 130%);
  border-radius: 35px;
  color: white;
}

.flagship-event-title {
  font-weight: 700;
}

.flagship-event-date {
  color: #ffc2d4;
  font-weight: 500;
}

.perk-number {
  background-color: #f4f4f4;
  border-radius: 100px;
  width: 75%;
}

.perk-number h5 {
  padding: 10px 22px !important;
}

.perk-title {
  border-right: 1px solid #b4b4b4;
}
