@media only screen and (max-width: 800px) {
    body .innovation-title{
        font-size: 50px;
    }

    .mynav .mynav-txt{
        margin-left: 20px;
    }

    body .subjects-background{
        padding: 0px;
        padding-bottom: 50px;
    }

    .subjects-background .subject-main-title{
        font-size: 60px;
    }

    .subjects-background .subject-title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .subjects-background .subject-area{
        background-color: white;
        border-radius: 25px;
        padding: 15px;
        height: 170px;
        width: 200px;
        margin-bottom: 15px;
        
    }

    .subjects-background .subject-region{
        max-width: 200px;
        margin: auto;
    }

    .subjects-background .subjects{
        padding: 30px 60px 40px;
        
    }
    
    body .conf-background{
        padding: 0px;
    }

    .conf-background .conference-title{
        font-size: 45px;
    }

    .conf-process{
        display: flex;
        margin-top: 50px;
       
    }
    
    .conf-background .conference{
        max-width: none;
    }

    .conf-background .line{
        width: 30px;
        height: 0px;
        border:1px solid #C8C8C8;
        margin-top: 30px;
        
    }

    .conf-background .conf-process{
        max-width: 325px;
    }
    
    .conf-background .process-item{
        max-width: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .conf-background .process-img{
        width: 40px;
        height: 40px;
    }
    
    .conf-background .process-text{
        font-size: 12px;
    }

    .conf2-background .conf2-title{
        font-size: 50px;
    }

    .conf2-background .conf2-text{
        max-width: 250px;
        margin: auto;
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
    }

    .team .team-title{
        font-size: 40px;
    }

    .team-section .team-pic-wrapper{
        max-width: 375px;
    }

    .team-section .team-pic{
        width: 375px;
        margin-bottom: 20px;
    }

    .team-section .team-join{
        height: 40px;
        width: 160px;
        padding-top: 5px;
    }

    .team-section .team-txt{
        font-size: 20px;
    }

    .toronto .toronto-title{
        font-size: 30px;
    }

    body .toronto{
        max-width: 375px;
    }

    .toronto .toronto-pic{
        width: 375px;
    }

    .inquiries .inquiries-title{
        font-size: 50px;
    }

    .inquiries .inquiry-text{
        font-size: 15px;
    }

    .inquiries .inquiry-button{
        width: 150px;
        margin-right: 0px;
    }

    .footer .footer-wrapper{
        margin-top: 10px;
        margin-left: 100px;
    }

    .footer .footer-title{
        margin-left: 60px;
    }

    body .footer{
        padding: 10px;
    }

    body .opportunities{
        margin-left: 80px;
    }

    .opportunities .opportunities-title{
        font-size: 40px;
    }

    .opportunities .opportunities-text{
        font-size: 20px;
    }
    
  }

.mynav{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 0px;
}

.mynav-items{
    margin-right: 50px;
}

.mynav-lists li{
    float: right;
    list-style-type: none;
}

.mynav-lists{
    margin-bottom: 50px;
}

.mynav-txt{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #CBCBCB;
    margin-right: 40px;
    cursor: pointer;
}

.mynav-toggler{
    border-color: rgba(0, 0, 0, 0);
}
.gradient-logo {
    /* margin-top: -20px; */
    /* margin-bottom: -50px; */
    /* margin-top: auto;
    margin-bottom: auto; */
    background: url("/circle/client/assets/blackcircle.png");
    background-repeat: no-repeat;
    transform: scale(1);
}
.gradient-text{
    margin-top: auto;
    margin-bottom: auto;
}
.ideas-title{
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -2px;
    text-align: center;
    font-weight: bold;
}
.opportunities{
    width: 500px;
    margin-left: 120px;
    margin-top: 50px;
}

.opportunities-background{
    background: url('../assets/opportunities.png') no-repeat;
    max-width: 100vw;
}

.opportunities-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 65px;
    /*70px;*/
    background: -webkit-linear-gradient(0.2turn, #FF5858, #E40097);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.opportunities-link{
    background-color: #373737;
    border-radius: 50px;
    height: 50px;
    padding-top: 10px;
    width: 180px;
    margin-bottom: 20px;
}

.opportunities-link-txt{
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #FAFAFA;
    text-align: center;
    margin-top: 5px;
}

.opportunities-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: #939393;
    margin-top: 20px;
    margin-bottom: 20px;
}


.welcome-title {
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -2px;
    text-align: center;
    font-weight: bold;
}
.innovation-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 70px;
    /*70px;*/
    text-align: center;
    background: -webkit-linear-gradient(0.2turn, #BE29B8, #FC1B51);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    color: #272727;
    font-size: 30px;
    margin-left: 100px;
    text-decoration: none;
}

.subject-main-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 70px;
    color: #272727;
    text-align: center;
}

.subject-title{
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top: 50px;
    position:absolute;
    bottom:0;
    margin-bottom: 10px;
}

.gen-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #727272;
    margin-top: 20px;
}

.innovation{
    margin: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 700px;
    padding: 30px 60px 90px;
}

.subjects-background{
    background-color: #F1F1F1;
    padding: 70px;
}

.subjects{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 700px;
    padding: 30px 60px 90px;

}

.subject-area{
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    height: 240px;
    /*width: 270px;*/ 

}

.subject-area-img{
    height: 50px;
}


.conf-background{
    background-image: linear-gradient(#0C0C0C, #161616);
    width: 100%;
    padding: 60px;
}

.conference{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 700px;
    padding-top: 30px;
    padding: 30px 60px 50px;
}

.conference-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 70px;
    text-align: center;
    background: -webkit-linear-gradient(0.2turn, #33F4E9, #1BF1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

.conf-date{
    border-radius: 25px;
    border-color: -webkit-linear-gradient(to right, #33F4E9, #1BF1FF);;
    padding: 20px;
    height: 30px;
    width: 50px;
}

.conf-date-wrap {
    max-width: 700px;
    padding: 1rem;
    background: linear-gradient(to right, #33F4E9, #1BF1FF);
    padding: 6px;
    border-radius: 50px;
    margin: auto;
  }
  
  .conf-date {
    background: #222;
    color: white;
    padding: 2rem;
    width: 130px;
  }

  .conf-date-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: medium;
    margin-top: -15px;
    text-align: center;

}

.conf-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.conf-process{
    display: flex;
    margin: auto;
    max-width: 600px;
    padding-bottom: 50px;
}

.line{
    width: 90px;
    height: 0px;
    border: 1px solid #C8C8C8;
    margin-top: 30px;
    
}

.process-item{
    max-width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.process-img{
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
}

.process-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    margin-top: 15px;
    color: white;
    text-align: center;
}

.conf2-background{
    background-color: #121212;
    width: 100%;
    padding-top: 20px;
}

.conf2-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 70px;
    text-align: center;
    background: -webkit-linear-gradient(0.2turn, #38FFF3, #D04BFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.conf2-area{
    background-color: #232323;
    border-radius: 25px;
    padding: 20px;
    height: 270px;
    /*width: 270px;*/ 
    margin-bottom: 50px;

}

.conf2-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #D2D2D2;

}

.list{
    background: url('../assets/bullet.png') no-repeat left center;
    background-size: 30px 30px;
}

.list-text{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    margin-left: 40px;
}

.team-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    text-align: center;
}

.team{
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 700px;
    padding: 30px 60px 90px;
}

.team-pic-wrapper{
    max-width: 1000px;
    margin: auto;
}

.team-pic{
    width: 1000px;
    margin-top: -55px;
    margin-bottom: 50px;
}

.team-join{
    background-color: #EFEFEF;
    border-radius: 50px;
    height: 50px;
    padding-top: 10px;
    width: 180px;
    margin: auto;
}

.team-txt{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.toronto{
    max-width: 900px;
    margin: auto;
}

.toronto-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    color: #000000;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}

.toronto-pic{
    margin-top: 50px;
    width: 900px;
}

.heart{
    height: 50px;
    padding-bottom: 10px;
}

.inquiries{
    max-width: 700px;
    margin: auto;
}

.inquiries-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 60px;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 100px;
}

.inquiries-subtitle{
    font-family: 'DM Sans', sans-serif;
    font-weight: medium;
    letter-spacing: -1px;
    color: #B6B6B6;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.inquiry-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.inquiry-button{
    background-color: #EFEFEF;
    border-radius: 50px;
    height: 50px;
    padding-top: 12px;
    width: 200px;
    margin-right: 20px
}

.inquiry-text{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.footer{
    background-color: #F9F9F9;
    width: 100%;
    padding-top: 20px;
}

.footer-wrapper{
    margin-left: 70px;
    background: url('../assets/circle.png') no-repeat;
    background-size: 50px 50px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.footer-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    letter-spacing: -2px;
    margin-top: 0px;
    margin-left: 60px
}