@import url("https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --body-bg-color: white;
}
[data-theme="light"] {
  --body-bg-color: white;
  --body-text-clor: black;
  --nav-text-color: black;
  --nav-brand-color: black;
}

[data-theme="dark"] {
  /* --footer-logo: url("../assets/circle-white.png"); */
  --body-bg-color: #131416;
  --body-text-color: white;
  --med-gray: #969696;
  --nav-text-color: white;
  --nav-brand-color: white;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
  font-style: normal;
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--body-text-color);
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

h1 {
  font-size: 105px;
  /* font-size: 8vw; */
  line-height: 120px;
  /* line-height: 130px; */
}

h2 {
  font-size: 95px;
  line-height: 110px;
}
h3 {
  font-size: 50px;
  line-height: 75px;
}
h4 {
  font-size: 40px;
  line-height: 55px;
}
h5 {
  font-size: 30px;
  line-height: 40px;
}
h6 {
  font-size: 25px;
  line-height: 30px;
  color: #6f737b;
  letter-spacing: 0.1em;
}

p {
  font-size: 20px;
  line-height: 30px;
  color: #b9b9b9;
  padding-left: 2vw;
  padding-right: 2vw;
}

hr {
  border: 1px solid #3f4247;
}

.test {
  color: cyan;
}

.aButton {
  border-radius: 50px;
  height: 50px;
  padding-top: 7px;
  width: 150px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  background-color: #1e1e1e;
}
.aButton:hover {
  background-color: #fae1e1;
  text-decoration: none;
}
.aButton:link {
  font-size: 15px;
  line-height: 35px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.aButton:visited {
  color: white;
  text-decoration: none;
}
.aButton:active {
  color: white;
  text-decoration: none;
}
opsButton {
  font-size: 25px;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
}
.row:before,
row:after {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
  h4 {
    font-size: 33px;
    line-height: 35px;
  }
  h5 {
    font-size: 25px;
    line-height: 25px;
  }
  h6 {
    font-size: 20px;
    line-height: 25px;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }

  opsButton {
    font-size: 20px;
  }
}
/* @media screen and (max-width: 1000px) {
  h1{
    font-size: 85px;
    line-height: 95px
  }
  h2{
    font-size: 75px;
    line-height: 85px;

  }
  h3{
    font-size: 65px;
    line-height: 75px;
  }
  h4{
    font-size: 55px;
    line-height: 65px;
  }
  h5{
    font-size: 45px;
    line-height: 55px;
  }
  h6{
    font-size: 30px;
    line-height: 35px;
  } 
  p {
    font-size: 20px;
    line-height: 25px;
  }

} */

.color-first {
  transition: background-color 1.2s ease;
  background-color: #404b69;
}
.color-second {
  transition: background-color 1.2s ease;
  background-color: #f73859;
}
